/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #2c47be;
    --primary-color-light: #b5b4b8;
    --toggle-color: #DDD;
    --text-color: #707070;
    --clr: #222327;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.contentnever {
  width: 142vh;
  height: 45vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  

  }


body, html{
    height: 100%;
    margin: 0;
    
}

.bg{
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/imagensnever/nevermain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




.hero{
    width: 100%;
    min-height: 100vh;
    background: #aceaff;
    color: 525252;
}

.menuperfil{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content:flex-end;

}


.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.menuperfil nav ul{
    width: 100%;
    text-align: right;

}

.menuperfil ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

.menuperfil ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
}


.sub-menu-wrap{
    position:absolute;
    top: 9%;
    z-index:1000;
    right: 0%;
    width: 230px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 20px;

}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}


.sub-menu{
    background: rgb(223, 222, 222);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
    font-size: 15px;
}

.user-info img{

    width: 40px;
    border-radius: 50px;
    margin-right: 15px;

}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}


.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;

}

.sub-menu-link p{
    width: 100%;

}

.sub-menu-link img{
    width: 40px;
    background: #fffdfd;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;

}

.sub-menu-link:hover span{
    transform: translateX(5px);
}


.sub-menu-link:hover p{
    font-weight: 600;

}







::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    margin-left: 20px;
    display: block;
}




.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 65px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 20px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon ion-icon{
    position: absolute;
}
.mode .sun-moon ion-icon.sun{
    opacity: 0;
}
body.dark .mode .sun-moon ion-icon.sun{
    opacity: 1;
}
body.dark .mode .sun-moon ion-icon.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}


.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

.bottom-content{
  padding-bottom: 25px;
}


#bot{
  margin-left: 25%;
}


.sidebaricon{
    width: 100%;
}



.navegation-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
   

}


.navegation{
    
    width: 370px;
    height: 55px;
    background-color: #fff;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 8%;
   
    
    

}

.navegation ul{
    display: flex;
    width: 300vh;
}

.navegation ul li
{
    position: relative;
    list-style: none;
    width: 73px;
    height: 8vh;
    z-index: 1;
}

.navegation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
}

.navegation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 10vh;
    font-size: 25px;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}



.navegation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}





.navegation ul li a .iconrede:hover
{
    transform: scale(1.6) rotate(25deg);
    
}




.wrapper {

    width: 200px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

}



.card img{
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0 0;
}


#titlecard{
    text-align: center;
    font-size: 20px;
    margin-bottom: 25%;
    
}


.details {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    
    
}

.details p {
    text-align: center;

}






.det-btn{
    display: block;
    padding: 10px 30px;
    width: 80%;
    margin: -30px auto;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #2c47be;
    border-radius: 5px;
    color: #FFF;
    

}


.card-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(115deg, rgb(98, 3, 250), rgb(2, 0, 148));
    border-radius: 10px;
    padding: 20px;
    transform: translate(-100%);
    transition: transform .6s ease-out;


}


.card-details.open{
    transform: translate(0);
}


.card__type {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding: 5px;
    border-bottom: 1px solid #eeeeee67;

}


.card__price {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


.card__price sup {
    font-size: 16px;
    margin-right: 5px;
    font-weight: normal;
}


.card__price sub{
    transform: translateX(-15px);
    font-weight: normal;
    font-size: 16px;
}

.card__feactures{
    margin-top: 10px;
}


.freacture{
    color: white;
    font-size: 16px;
    padding: 6px 0;
    font-weight: normal;
    border-bottom: 1px solid #eeeeee67;
}

.freacture:last-child{
    border: none;
}

.buy-btn{
    display: block;
    padding: 10px 30px;
    width: 100%;
    margin: 5px auto;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #fcfcfc;
    border-radius: 5px;
    color: rgb(11, 48, 216);
    
}



.swiper {
    width: 100%;
    position: relative;
    padding-left: 9%;
    
    
    
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;


    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

















