* {

    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

button {
    padding: .6rem 1.2rem;
    background-color: rgb(114, 114, 114);
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1rem;
    transition: 0.4s;
}

#open-modal {

    background-color: #007bff;

}

button:hover {
    opacity: 1;
    
    
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;

}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 766px;
    height: 600px;
    max-width: 90%;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 0.5rem;
}


.modal-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}  




#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
    
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}


.ui-widget-header {
    border: 4px solid #2a3052;
    background: #2a3052;
    color: #fff;
    font-family: roboto,sans-serif;
    font-weight: 400;
}



.ui-draggable-handle {
   
    touch-action: none;
}

.ui-helper-clearfix {
    min-height: 0;
}


.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}


.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}


.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}


#saved {
    text-decoration: none;
    text-align: right;
    line-height:100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    background: #2e8836;
    color: #fff;
}


.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.icon-save{
    
    
    margin: 1px;
    padding: 4px;
    width: 3.2%;
    height: 22px;
    width: 3.8%;
    padding-top: 7px;
    padding-bottom: 10px;
    display:inline-block;
    margin-left: 0.17%;
    background: #2e8836;
}

#closed{
    
        
    margin: 1px;
    padding: 0em;
    width: 3.2%;
    height: 22px;
    padding-top: 0px;
    display:inline-block;
    margin-left: -0.25%;
    background: #2e8836;
}

#imagclose{
    
    height: 17px;
    margin-left: 1px;
    margin-top: 4px;
    padding-bottom: 4px;
    
}

#saveicon{

    
    width: 25px;
    height: 27px;
    margin-bottom: -8px;
    margin-top: -10px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    padding-bottom: 2px;
        
}


#resumo{
    float: left;
    margin: 0.1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    margin-left: 2%;
    text-overflow: ellipsis;
    margin-top: 0.5%;

  
   
}


.summary-toolbox {

    
    text-align: center;
    position: relative;
    

}


#summaryRunButton{

    
    text-align: center;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 0.313em;
    color: #000000;
    padding: 0em;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
    margin-top: 20px;
    background: rgb(240, 234, 248);
    
    

}


#summaryRunButton:hover{
    opacity: 0.5;
}




#iconplay{
    padding-top: 10%;
    margin-left: 6%;
    

    
}


#summaryClearButton {
    right: 10px;
    position: absolute;
    border-radius: 50%;
    margin: 0 auto 0.313em;
    color: #000000;
    padding: 0em;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
    margin-top: 20px;
    background: rgb(240, 234, 248);
}


#summaryStopButton{

    
    text-align: center;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 0.313em;
    color: #000000;
    padding: 0em;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
    margin-top: 20px;
    background: rgb(240, 234, 248);
    
    

}


#iconstop{
    padding-bottom: 5%;
}

#summaryClearButton:hover{
    opacity: 0.5;
}

#summaryStopButton:hover{
    opacity: 0.5;
}



.stage .stage-tooltip p {
    font-size: 11px;
    text-align: center;
    margin-top: -0.91em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fef1cf;
    width: 120px;
}

 p {
    margin: 0em;
}


.stage .stage-tooltip.running p {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}


.stage-label {
    text-align: center;
    font-size: 11px;
    min-height: 24px;
}

.content-row {
    margin-bottom: 1em;
}

#current-trade-status {
    margin-top: 3.5em;
}


.stage {
    display: inline-block;
    margin: 0 8.68% 0 8.68%;
    vertical-align: top;
    max-width: 120px;
}


.stage .stage-tooltip.top {
    margin-bottom: 0.5em;
    margin-top: -2.5em;
    position: absolute;
}


.stage .stage-tooltip.top {
    margin-bottom: 0.5em;
    margin-top: -2.5em;
    position: absolute;
}


.stage .stage-tooltip p {
    font-size: 11px;
    text-align: center;
    margin-top: -0.91em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fef1cf;
    width: 120px;
}



.circle-wrapper {
    width: 1em;
    height: 1em;
    display: inline-block;
    transform: translate(-50%, 50%);
    margin-left: 50%;
}

.circle-wrapper .static-circle {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border: 0.25em solid #F2F2F2;
    display: inline-block;
    position: relative;
    background-color: #F2F2F2;
}


span {
    text-rendering: optimizeLegibility;
}


.stage-tooltip {
    visibility: hidden;
}

.stage .stage-tooltip .triangle {
    margin-top: 0.7em;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border: 10px solid #fef1cf;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.stage .stage-tooltip p {
    font-size: 11px;
    text-align: center;
    margin-top: -0.91em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fef1cf;
    width: 120px;
}


.stage-tooltip {
    visibility: hidden;
}


.stage .stage-tooltip .triangle {
    margin-top: 0.7em;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border: 10px solid #fef1cf;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}


.line {
    position: absolute;
    display: inline-block;
    top: 37.5%;
    width: 3050%;
    height: 0.25em;
    background-color: #F2F2F2;
}


.react-grid-HeaderCell {
    font-size: 11px;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-left: 8px !important;
    display: flex !important;
    align-items: center;
    font-weight: 700;
}

.react-grid-Main {
    background-color: #fff;
    color: inherit;
    padding: 0;
    outline: 1px solid #e7eaec;
    clear: both;
}

.react-grid-Container {
    clear: both;
    margin-top: 0;
    padding: 0;
}

.react-grid-Header {
    box-shadow: 0 0 4px 0 #ddd;
    background: #f9f9f9;
}

.react-grid-Grid {
    border: 1px solid #f2f2f2;
}

.react-grid-Main {
    outline: none;
}

.react-grid-HeaderRow {
    
    user-select: none;
}

.widget-HeaderCell__value{
    white-space: nowrap;
}

.react-grid-HeaderCell__draggable {
    cursor: col-resize;
}