/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #2c47be;
    --primary-color-light: #b5b4b8;
    --toggle-color: #DDD;
    --text-color: #707070;
    --clr: #222327;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.contentnever {
  width: 142vh;
  height: 45vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  

  }


body, html{
    height: 100%;
    margin: 0;
    
}




body::-webkit-scrollbar {
    width: 17px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(251, 252, 253);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #707070;   
    border-radius: 20px;       
    border: 3px solid rgb(250, 250, 252);  
  }




.bg{
    
    background-color: rgb(219, 219, 219);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}






.menuperfil{
    width: 100%;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    

}


.titlenav{
    display: flex;
    position: relative;
    left: 90px;
    top: 10px;
    color: #041666;
}






.user-pic{
    position: relative;
    top: 4px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    border: 0px solid transparent;
    
}

.user-pic:hover{
    border: 5px solid #2490d3;
    border-radius: 50%;

}

.menuperfil nav ul{
    width: 100%;
    
    text-align: right;

}

.menuperfil ul li{
    display: inline-block;
    list-style: none;
    
}

.menuperfil ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    
}


.sub-menu-wrap{
    position:absolute;
    top: 70px;
    z-index:1000;
    right: 1%;
    width: 230px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 20px;
    
    
    

}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    
    
    
}


.sub-menu{
    background: rgb(223, 222, 222);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(13, 14, 14);
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
    font-size: 15px;
}

.user-info img{

    width: 40px;
    border-radius: 50px;
    margin-right: 15px;

}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}


.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;

}

.sub-menu-link p{
    width: 100%;

}

.sub-menu-link img{
    width: 40px;
    background: #fffdfd;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;

}

.sub-menu-link:hover span{
    transform: translateX(5px);
}


.sub-menu-link:hover p{
    font-weight: 600;

}







::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    margin-left: 20px;
    display: block;
}




.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 65px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 20px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon ion-icon{
    position: absolute;
}
.mode .sun-moon ion-icon.sun{
    opacity: 0;
}
body.dark .mode .sun-moon ion-icon.sun{
    opacity: 1;
}
body.dark .mode .sun-moon ion-icon.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}


.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

.bottom-content{
  padding-bottom: 25px;
}


#bot{
  margin-left: 25%;
}


.sidebaricon{
    width: 100%;
}




/*Card Conteudo*/



@media only screen and (max-width: 1314px) {
    .div-centerbody {
        
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, 600px);
        justify-content: center;
        justify-items: center;
        padding: 30px;
        position: relative;

    
    }
  }


  @media only screen and (min-width: 1315px) {
    .div-centerbody {
        
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, 350px);
        justify-content: flex-end;
        justify-items: end;
        padding: 30px;
        position: relative;
        
        
        
    
    }
  }



.card-progress {

    width: 355px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 7px rgb(45, 71, 216);
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    
    
    

}


.cardlist-aula{
    width: 355px;
    height: 430px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 7px rgb(45, 71, 216);
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    top: 20px;
    
}





.cardplay {

    
    width: 235%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 5px rgb(45, 71, 216);
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    left: 104%;
    
    

}

iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    
}   



.row-percent{
    display: flex;
    padding: 13px 13px;
    justify-content: space-between;
}


.row-percent h1{
    font-size: 15px;
    color: #041666;
}

.row-percent span{
    font-size: 15px;
    color: #041666;
}


.barra{
    display: flex;
    justify-content: center;
    align-items: center;
}





.row-progressbar{
    
    width: 320px;
    padding: 0px;
    background-color: #767fa8ce;
    border-radius: 10px;
}


.row-progressbar div{
    height: 100%;
    width: 69%;
    padding: 4px;
    background-color: #051b81;
    border-radius: 10px;
}

.btn-progress{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
    
    
}

.btn-progress button{
    padding: 3px;
    border-radius: 10px;
    width: 100%;
    border-color: #112a9b;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    font-weight: bold; 
    color: #041666;

}


.btn-progress button:hover{
    opacity: 0.6;
   

}


.search{
    display: flex;
    padding: 0px 10px;
    
}

.search input{
    border-radius: 5px;
    width: 88%;
    height: 40px;
    
}


.search input:focus{
    outline: 0;
}


.search button{
    border: none;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #051b81;
    transition: 0.5s;

}

.search button:hover{
    opacity: 0.8;
}


.search button ion-icon{
    width: 50px;
    height: 20px;
    display: flex;
    color: #FFF;
}


#pesquisa-aula{
    border: none;
    background-color: #75757549;
    padding: 12px 16px 14px;
    font-weight: bold;  
    font-size: 15px;
    border-radius: 10px 0px 0px 10px;
    color: #041666;
}


#pesquisa-aula::placeholder {
    font-size: 13px;
    color: #041666;
}


.item-aula{
    display: flex;
    
    
}


.item-aula-btn{
    width: 100%;
    display: flex;
    font-size: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: solid 0.2px;
    border-color: #b1b1b1;
}



.item-aula-btn ion-icon{
    width: 15px;
    height: 15px;
    color: #041666;
    
}

.item-aula-btn span{
    display: flex;
    align-items: center;

    
}

.item-aula-btn h1{
    padding: 5px;
    color: #041666;
    
}



.btn-finish{
    border-radius: 15px;
    border-color: #112a9b;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    height: 10%;
    top: 78%;
    right: 10%;
    width: 55%;
    color: #041666;
}


.btn-finish:hover{
    background-color: #041666;
    color: #FFF;
}


.btn-finish ion-icon{
    font-size: 20px;
    padding-right: 3%;
    position: relative;
    top: 4px;
}













    

















